canvas{
	display: flex;
	display: block;
	margin:0 auto;
	background-color: black;
	border: solid 3px cornflowerblue;
}

html{
	background-color: black;
}

h1{
	text-align: center;
	color: cornflowerblue;
}

div{
	margin-top: -30%;
	display: flex;
	color: cornflowerblue;
	margin-left: 25%;
}

#score{
	margin-top: 0%;
	margin-left: 0%;
}
