canvas{
	display: block;
	margin:0 auto;
	background-color: black;
	margin-top:10% ;
	border:1px red dashed;
}
body{
	background-color: black;
}
 .puntuacion{
	 margin-left: 5%;
	 font-size: 1.5em;
	color:red;
	text-align: center;
	 width: 200px;
 }
